.booster-card {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
}

.booster-card__background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.booster-card__content {
    position: absolute;
    inset: 0;
    color: #1f1400;
    font-family: 'Poppins', sans-serif;
}

.booster-card__icon {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
}

.booster-card__prompt {
    width: 40%;
    position: absolute;
    top: 57%;
    left: 28%;
    font-size: 0.95rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
}

.booster-card__answer {
    position: absolute;
    bottom: 25%;
    left: 28%;
    width: 40%;
    font-size: 0.95rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
}

.booster-card__rarity {
    position: absolute;
    top: 42%;
    left: 30%;
    display: flex;
    gap: 0.35rem;
    color: #b47900;
}

@media (max-width: 640px) {
    .booster-card__icon {
        top: 18%;
        left: 35%;
        width: 80px;
        height: 80px;
    }

    .booster-card__prompt {
        // top: 55%;
        left: 20%;
        width: 60%;
        font-size: 0.85rem;
    }

    .booster-card__answer {
        // bottom: 22%;
        left: 20%;
        width: 60%;
        font-size: 0.85rem;
    }
}
