.achievement-feature {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.achievement-container {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
}

.certificate-board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 215, 0, 0.5);
}

@media (max-width: 900px) {
  .achievement-container {
    max-height: 500px;
    height: 500px;
  }

  .certificate-board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .achievement-container {
    max-height: 500px;
    height: 500px;
  }

  .certificate-board {
    grid-template-columns: 1fr;
    max-height: none;
  }
}
