@import url('https://rsms.me/inter/inter.css');


// .page--secret

.card-container {
  width: min(360px, 100%);
  max-height: 520px;
  // aspect-ratio: 9 / 16;
  margin: 0 auto;
  border-radius: 1rem;
  border: 1px solid blue;
  z-index: 100;
}

.page--secret .card-container canvas {
  // width: 100% !important;
  // height: 100% !important;
}

canvas {
  touch-action: none;
}

.annotation {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 8px;
  font-weight: 300;
  background: black;
  color: #f0f0f0;
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


