.gameboy {
    position: relative;
    justify-items: center;
    z-index: 0;

    width: clamp(80%, 90vw, 400px);

    aspect-ratio: 16 / 9; 
    margin: 0 auto;
}

// green line fix
.gameboy::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/Imgs/GameBoy/Gameboy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    z-index: 1;
}

.cartridge-slot {
    position: absolute;
    justify-items: center;
    text-align: center;
    top: -25%;
    width: 36%;
    height: 70%;
    border: 2px dashed #00ff9d; 
    transition: border-color 0.3s ease, background-color 0.3s ease;
    z-index: 0;
    pointer-events: all;

    img {
        width: 100%;
        height: 100%;
    }

}

.cartridge-slot--loaded {
    border: none;
}

.cartridge-slot.highlight {
    border-color: #56d56d; /* Green color on hover */
    background-color: rgba(0, 255, 0, 0.2); /* Light green background on hover */
}

.empty-text {
    margin-top: 2rem;
    font-family: 'Pixel';
}

.screen {
    z-index: 2;
    position: absolute;
    background-color: black;
    font-family: 'Pixel', sans-serif;
    font-size: clamp(0.6rem, 2vw, 0.9rem);
    word-spacing: -0.5rem;
    text-align: center;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    top: 18%;
    left: 28%;
    width: 44%;
    height: 52%;

    overflow: hidden;
    gap: 0;

    p {
        color: #00ff9d;
        margin-top: 0.1rem;
        padding: 1rem;
    }

    h3 {
        font-size: clamp(0.8rem, 3vw, 1rem);
        color: #00ff9d;
    }
}

.buttons {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.buttons button {
    position: absolute;
    width: 7.5%;
    aspect-ratio: 1;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: background 0.1s;
    pointer-events: auto;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    &.up {
        border-radius: 0;
        width: 5%;
        height: 7%;
        top: 34%;
        left: 15%;
    }

    &.down {
        border-radius: 0;
        width: 5%;
        height: 7%;
        top: 49%;
        left: 15%;
    }

    &.left {
        border-radius: 0;
        width: 4%;
        height: 7%;
        top: 41%;
        left: 11%;
    }

    &.right {
        border-radius: 0;
        width: 4%;
        height: 7%;
        top: 41%;
        left: 19%;
    }

    &.a {
        width: 6%;
        top: 38%;
        left: 91%;
    }

    &.b {
        width: 6%;
        top: 44%;
        left: 82%;
    }

    &.start {
        width: 2.5%;
        top: 65%;
        left: 21.5%;
    }

    &.select {
        width: 2.5%;
        top: 75%;
        left: 21.5%;
    }
}


@font-face {
    font-family: 'Pixel';
    src: url('/Fonts/PressStart2P-Regular.ttf') format('truetype');
}
