.home-gameboy {
    position: relative;
    background-image: url('/Imgs/GameBoy/Gameboy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-items: center;
    width: 80%;
}

.screen {
    background-color: black;
    align-content: center;
    
    text-align: center;
    word-spacing: -0.5rem;
    color: limegreen;
    font-family: 'Pixel', sans-serif;
    font-size: 0.9rem;

    width: 43%;
    height: 51%;
    margin-top: 11%;
}

.buttons button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;

    &.up {
        top: 30%;
        left: 15%;
    }
}





@font-face {
  font-family: 'Pixel';
  src: url('/Fonts/PressStart2P-Regular.ttf') format('truetype');
}
