.home-gameboy {
    position: relative;
    background-image: url('/Imgs/GameBoy/Gameboy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;

    width: clamp(80%, 90vw, 400px);

    aspect-ratio: 16 / 9; 
    margin: 0 auto;
}

.home-screen {
    position: absolute;
    background-color: black;
    color: limegreen;
    font-family: 'Pixel', sans-serif;
    word-spacing: -0.5rem;
    text-align: center;
    border-radius: 9px;

    top: 18%;
    left: 28%;
    width: 44%;
    height: 52%;

    display: grid;
    place-items: center;
    border: 1px solid rgba(0, 255, 0, 0.2);
    gap: 0;

    p {
        color: limegreen;
    }

    h3 {
        font-size: clamp(0.8rem, 3vw, 1rem);
    }
}

.error {
    margin-top: 20px;
    color: red !important;
}

.buttons {
    position: absolute;
    inset: 0;
}

.buttons button {
    position: absolute;
    width: 7.5%;
    aspect-ratio: 1;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: background 0.1s;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    &.up {
        border-radius: 0;
        width: 5%;
        height: 7%;
        top: 34%;
        left: 15%;
    }

    &.down {
        border-radius: 0;
        width: 5%;
        height: 7%;
        top: 49%;
        left: 15%;
    }

    &.left {
        border-radius: 0;
        width: 4%;
        height: 7%;
        top: 41%;
        left: 11%;
    }

    &.right {
        border-radius: 0;
        width: 4%;
        height: 7%;
        top: 41%;
        left: 19%;
    }

    &.a {
        width: 6%;
        top: 38%;
        left: 91%;
    }

    &.b {
        width: 6%;
        top: 44%;
        left: 82%;
    }

    &.start {
        width: 2.5%;
        top: 65%;
        left: 21.5%;
    }

    &.select {
        width: 2.5%;
        top: 75%;
        left: 21.5%;
    }
}

@media (max-width: 720px) {
    .home-screen {
        font-size: clamp(0.35rem, 1.8vw, 0.5rem);

        h3 {
            font-size: clamp(0.45rem, 2.2vw, 0.6rem);
        }

        p {
            font-size: clamp(0.35rem, 1.8vw, 0.5rem);
        }
    }
}





@font-face {
  font-family: 'Pixel';
  src: url('/Fonts/PressStart2P-Regular.ttf') format('truetype');
}
